// Kolory
$primary-color: #1a88ff;
$secondary-color: #535bf2;
$error-color: red;
$text-color: #e0e0e0;
$light-background: #ffffff;
$dark-background: #242424;
$text-color-second: #ffffff;
$button-background-color: #007bff;
$button-hover-color: #1a88ff;
$text-dark:white;
$card-background:white;

// Rozmiary
$padding-default: 2rem;
$border-radius: 8px;

// Fonty
$font-size-default: 16px;
$font-size-small: 14px;
